<!-- Begin Partners Section -->
<section id="partners" class="partners">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.organizersTitle }}</h3>
            <div class="row about-details">
                {% for organizer in site.data.organizers %}
                {% assign colWidth = 12 | divided_by: forloop.length %}
                <div class="col-md-{{ colWidth }} col-xs-6">
                    <h5>{{ organizer.group }} </h5>
                    {% for element in organizer.elements %}
                    <a href="{{ site.baseurl }}/team/" target="_blank">
                        <img class="img-circle" style="width: 25%;" src="{{ site.baseurl }}/img/organizers/{{ element.imageUrl }}" alt="{{ element.name }}">
                    </a>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

            <h3>{{ site.advisoryTitle }}</h3>
            <div class="row about-details">
                {% for advisor in site.data.advisors %}
                {% assign colWidth = 12 | divided_by: forloop.length %}
                <div class="col-md-{{ colWidth }} col-xs-6">
                    <h5>{{ organizer.group }} </h5>
                    {% for element in advisor.elements %}
                    <a href="{{ site.baseurl }}/team/" target="_blank">
                        <img class="img-circle" style="width: 50%;" src="{{ site.baseurl }}/img/organizers/{{ element.imageUrl }}" alt="{{ element.name }}">
                    </a>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

            <h3>{{ site.staffTitle }}</h3>
            <div class="row about-details">
                {% for staff in site.data.staff %}
                {% assign colWidth = 12 | divided_by: forloop.length %}
                <div class="col-md-{{ colWidth }} col-xs-6">
                    <h5>{{ staff.group }} </h5>
                    {% for element in staff.elements %}
                    <a href="{{ site.baseurl }}/team/" target="_blank">
                        <img class="img-circle" style="width: 25%;" src="{{ site.baseurl }}/img/organizers/{{ element.imageUrl }}"
                        alt="{{ element.name }}">
                    </a>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <h3>{{ site.partnersTitle }}</h3>
            <!--
            {% for partner in site.data.partners %}
                <div class="row about-details">
                    <h5>{{ partner.group }}</h5>
                    {% for element in partner.elements %}
                    {% assign colWidth = 12 | divided_by: forloop.length %}
                       <div class="col-md-{{ colWidth }} col-xs-6">
                           <a href="{{ element.link }}" target="_blank">
                               <img src="{{ site.baseurl }}/img/partners/{{ element.imageUrl }}" title="{{ element.description }}" alt="{{ element.name }}">
                           </a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}-->
            <a href="{{ site.c4sponsorsUrl | prepend: site.baseurl }}" class="btn btn-primary waves-effect waves-button waves-light waves-float">{{ site.partnersC4sponsorsButton }}</a>
        </div>
    </div>
</section>
<!-- End Partners Section -->
